.sidebar {
    background-color: rgba(246, 195, 34, 0.7);
    padding: 1px;
    border-radius: 0 0 20px 20px;
    z-index: 9;
}

.sidebar ul {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

.sidebar li {
    margin: 5px 0;
    padding: 7px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 2px 5px 3px rgba(5, 0, 0, 0.2);
}

.sidebar li:hover {
    background-color: #cbfff8;
}